## OSX
**/.DS_Store

## IntelliJ
**/*.iml
**/.idea/
**/target/

## GRADLE
.gradle
**/build/
!src/**/build/

## Kotlin
.kotlin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

